@model Gerenciador_De_Vendas.Entities.Venda;

@{
    ViewData["Title"]= "Pedido de Venda";
}


<form asp-action="Adicionar">
    <select>
        @foreach(var itens in Model.produtos)
        {
            <option value="@itens.Id">@itens.Nome</option>
        }
    </select>
    <input type="button" value="Salvar"/>
</form>

<table>
	<thead>
		<tr>
			<th>Produto</th>
			<th>Quantidade</th>
			<th>Valor</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var itens in Model.Itens)
		{
			<tr>
				<td>@itens.subtotal</td>
				<td>@itens.Quantidade</td>
				
			</tr>
		}
	</tbody>
</table>