Parabens você está acessando

<h2>Seja bem vindo ao modulo de finanças</h2>

<div class="jumbotron">
    <h1 class="display-4">Modulo Finanças</h1>
    <p class="lead">No modulo de finanças </p>
    <hr class="my-4">
    @* <p>Ele usa classes utilitárias para tipografia e espaçamento de conteúdo, dentro do maior container.</p> *@
    <a asp-controller="Categorias" asp-action="Index" class="btn btn-primary">Categorias</a>
    <a asp-action="Create" class="btn btn-primary">Transações</a>
    <a asp-action="Create" class="btn btn-primary">Conta</a>

</div>