@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo ao gerenciador de vendas</h1>
    <p>
        Aqui você consegue gerenciar os seus produtos e as suas vendas
    </p>
</div>
