 @model IEnumerable<Gerenciador_De_Vendas.Entities.Venda> 
@* @model Gerenciador_De_Vendas.Entities.Venda
 *@
@{
    ViewData["Title"] = "Vendas";
}

<h1>Central de vendas</h1>


<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Pedidos de venda</h5>
                <p class="card-text">Nesta rotina você pode está acessando todos produtos já cadastrado</p>
                <a asp-action="ListaDePedidos" class="btn btn-primary">Pedidos de venda</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Realizar nova venda</h5>
                <p class="card-text">Nesta rotina você pode Cadastrar um novo produto</p>
                <a asp-action="Create" class="btn btn-primary">Nova venda</a>
            </div>
        </div>
    </div>
</div>

