 @model IEnumerable<Gerenciador_De_Vendas.Entities.Venda> 
@* @model Gerenciador_De_Vendas.Entities.Venda
 *@
@{
    ViewData["Title"] = "Vendas";
}

<div class="jumbotron">
    <h1 class="display-4">Central de vendas</h1>
    <p class="lead">No modulo de vendas você pode conferir as vendas realizadas ou incluir uma nova venda</p>
    <hr class="my-4">
    @* <p>Ele usa classes utilitárias para tipografia e espaçamento de conteúdo, dentro do maior container.</p> *@
    <a asp-action="ListaDePedidos" class="btn btn-primary">Pedidos de venda</a>
    <a asp-action="Create" class="btn btn-primary">Nova venda</a>
</div>
