
@{
    ViewData["title"] = "Produtos";
}
<!--Fazer um css centralizado com as opcoes -->
<div class="jumbotron">
    <h1 class="display-4">Modulo Produtos</h1>
    <p class="lead">No modulo de produtos você pode conferir o estoque, incluir um produto ou mesmo verificar os produtos já cadastrados.</p>
    <hr class="my-4">
    @* <p>Ele usa classes utilitárias para tipografia e espaçamento de conteúdo, dentro do maior container.</p> *@
    <a asp-action="GetAll" class="btn btn-primary">Todos os produtos</a>
    <a asp-action="Create" class="btn btn-primary">Cadastrar produtos</a>

</div>

@* 
<h1>Página inicial de produtos</h1>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
      <h5 class="card-title">Lista de produtos</h5>
      <p class="card-text">Nesta rotina você pode está acessando todos produtos já cadastrado, valores e seu estoque atual.</p>
      <a asp-action="GetAll" class="btn btn-primary">Ir para produtos</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
      <h5 class="card-title">Cadastrar produto</h5>
      <p class="card-text">Nesta rotina você pode Cadastrar um novo produto</p>
      <a asp-action="Create" class="btn btn-primary">Cadastrar produtos</a>
      </div>
    </div>
  </div>
</div> *@